<html>
  <head>
    <meta http-equiv="refresh" content="60">
    <style>
      div {clear: both;}
      p {float: left; margin: 5px;text-align:center; }
      p.value {font-size: 350px;}
      p.unit {font-size: 150px;}
      p.mail {font-size: 150px; color: red;}
    </style>
  </head>
  <body>
    <div>
    <p class="value">
    {{'%0.1f' % temperature.outside|float}}
    </p>
    <p class="unit">
      C&deg;
    </p>
    </div>

    <div>
    <p class="value">
      {{'%0.1f' % electricity.normal|float}}
    </p>
    <p class="unit">
      kW
    </p>
    </div>

    <div>
    <p class="mail">
      {{mailstatus}}
    </p>
    </div>          
  </body>
</html>
